BC_EMAIL=your@email.com
BC_PASSWORD=yourpassword
BC_TOTP_SECRET=BASE32TOTPSECRET
AFFILIATES_URL=https://xyz.affiliates.betconstruct.com
# CRM_URL=https://crm-t.betconstruct.com
# PORT=3000
API_SECRET=change_me_to_random_secret
